@import "tailwindcss";

/* Global classes */
.miswag-bg-red-primary {
  @apply bg-[#DF1C24];
}

.miswag-bg-red-secondary {
  @apply bg-[#F04438];
}

.miswag-bg-red-brand-default {
  @apply bg-[#D92D20];
}
.miswag-button {
  @apply bg-[#D22525] text-white;
}

.bg-natural-default {
  @apply bg-[#1C1C1C];
}

.bg-base-default {
  @apply bg-[#FCFCFC];
}

.text-base-default {
  @apply text-[#141414];
}
.text-natural-secondary {
  @apply text-[#575757];
}

.text-base-secondary {
  @apply text-[#575757];
}

.text-natural-on-neutral {
  @apply text-[#FCFCFC];
}

.border-color {
  @apply border-[#E8E8E8];
}
.text-base-tertiary {
  @apply text-[#A5A5A5];
}
.product-border-color {
  @apply border-[#F69393];
}

@font-face {
  font-family: "Teshrin AR+LT";
  src: url("https://db.onlinewebfonts.com/t/510d36c34e39deee4abbd9264a159c79.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Teshrin AR+LT";
  src: url("https://db.onlinewebfonts.com/t/56364258e3196484d875eec94e6edb93.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Teshrin AR+LT", sans-serif;
}
